<!-- Specify a layout for the engine-->
<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "booking/application", media: "all" %>
  <%= javascript_include_tag "booking/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "My Categories", (booking||self).categories_path %></li>
			<li><%= link_to "Calendar", (booking||self).service_calendars_path %></li>
			<li><%= link_to "Reservations", (booking||self).reservations_path %></li>
			<li><%= link_to "Customers", (booking||self).customers_path %></li>
			<li><%= link_to "Book", (booking||self).service_types_path %></li>
			<% Booking::Category.all.each do |category| %>
			<li><%= link_to category.name, (booking||self).service_types_path(category_id: category.id) %></li>
			<% end %>

      <div class="pull-right user-info">
				<% if user_signed_in? %>
					<% if current_user.first_name? %>
						Signed in as: <strong><%= current_user.first_name %></strong> |
					<% else %>
						Signed in as: <strong><%= current_user.email %></strong> |
					<% end %>
					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
				<% else %>
					<%= link_to "Sign up", (booking||self).new_user_registration_path, :class => 'navbar-link' %>  <%= link_to "Sign In", (booking||self).new_user_session_path, :class => 'navbar-link' %>
				<% end %>
			</div>
		</ul>

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:notice] %>
			</div>
		<% elsif flash.now[:alert] %>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash.now[:alert] %>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss-"alert">&times;</button>
				<%= flash[:alert] %>
			</div>
		<% end %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track" => "reload" %>
		<%= yield %>
	</div>

</body>
</html>
