<p id="notice"><%= notice %></p>

<p class="pull-right">
  <strong>Reservations</strong><br>
  <% if @single_reservations %>
    <% @single_reservations.each do |single_res| %>
      Service: <%= Booking::ServiceType.find(single_res.service_type_id).name %><br>
      Check in: <%= single_res.check_in %><br>
      Check out: <%= single_res.check_out %><br>
      <%= link_to 'Edit reservation', edit_reservation_path(id: single_res.reservation_id, single_service_reservation_id: single_res) %><br>
      <%= link_to 'Delete reservation', reservation_service_type_reservation_path(reservation_id: single_res.reservation_id ,id: single_res.id) , method: :delete, data: {confirm: 'Are you sure?'} %><br>
    <% end %>
  <% else %>
    <%= link_to 'New Reservation', new_reservation_path(customer_id: @customer.id) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @customer.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<%= link_to 'Edit customer info', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %> |
<%= link_to 'Book', new_reservation_path %>
