<p id="notice"><%= notice %></p>

<p class="pull-right">
  <strong>Reservations</strong><br>
  <% @reservations.each do |reservation| %>
    <% reservation.service_types.each do |service| %>
      <%= service.name %><br>
    <% end %>
    <% if reservation.date %>
      Date: <%= reservation.date %><br>
    <% else %> 
      <% if reservation.check_in %> 
        Checkin: <%= reservation.check_in %><br>
      <% end %>
      <% if reservation.check_out %>
        Checkout: <%= reservation.check_out %>
      <% end %>
    <% end %>
    <%= link_to 'Edit reservation', edit_reservation_path(reservation) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @customer.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<%= link_to 'Edit customer info', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %> |
<%= link_to 'Book', new_reservation_path %>
