<p id="notice"><%= notice %></p>

<h1>My Categories
<button class="add-category"><%= link_to 'Add', new_category_path %></button> 
</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Multiple Day?</th>		
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
			<tr> 
				<td><%= category.name %></td>
				<td><%= category.multiple_day %></td>
				<td><%= link_to "Add service", new_category_service_type_path(category_id: category.id) %></td>
				<td><%= link_to "Book", new_reservation_path(category_id: category.id) %></td>
			</tr>
		<% end %>
	</tbody>
</table>