<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :customer_reservation do |f| %>
    <% if params[:customer_id] %>
      <%= f.hidden_field :customer_id, :value => @cust_id %>
    <% end %>
  <% end %>

  <!-- If editing an existing reservation -->
  <% if @single_reservation %>
    <%= f.fields_for :service_type_reservations, @single_reservation do |f| %>
      <%= render 'booking/reservations/service_type_reservation_fields', f: f %>
    <% end %>
  <!-- If a service is chosen first -->
  <% elsif params[:service_type_id] %>
    <%= f.fields_for :service_type_reservations do |f| %>
      <%= render 'booking/reservations/service_type_reservation_fields', f: f %>
    <% end %>
  <!-- If category is provided, show categories' services -->
  <% elsif params[:category_id] %>
    <!-- If category is single day -->
    <% if !Booking::Category.find(params[:category_id]).multiple_day %>
      <%= f.fields_for :service_type_reservations do |f| %>
        <%= render 'booking/reservations/single_day_form', f: f %>
      <% end %>
    <!-- If category is multiple day -->
    <% else %>
      <%= f.fields_for :service_type_reservations do |f| %>
        <%= render 'booking/reservations/multiple_day_form', f: f %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
