<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :services %><br>
    <%= f.collection_check_boxes :service_type_ids, Booking::ServiceType.all, :id, :name, checked: params[:service_type_id] do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>

      <% if @serviceTypes.find(b.value).multiple_day == true %>
        <div class="field" id="<%= b.value %>_check_in" style="display:none;">
          <%= f.label :check_in %><br>
          <%= f.datetime_select :check_in %>
        </div>
        <div class="field" id="<%= b.value %>_check_out" style="display:none;">
          <%= f.label :check_out %><br>
          <%= f.datetime_select :check_out %>
        </div>
      <% else %>
        <div class="field" id="<%= b.value %>_sel_date" style="display:none;">
          <%= f.label :date %><br>
          <%= f.datetime_select :date %>
        </div>
      <% end %>


      <div class="field" id="<%= b.value %>_occupancy" style="display:none;">
        <%= f.label :persons %><br>
        <%= f.number_field :occupancy %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    var checkBoxes = [];

    <% @serviceTypes.each do |service|  %>
      var checkBox = document.getElementById('reservation_service_type_ids_' + '<%= service.id %>');
      checkBoxes.push(checkBox);
    <% end %>

    for(var index in checkBoxes){
      (function(){
        checkBoxes[index].addEventListener("change", onCheckClick.bind(checkBoxes[index], index));
      })();
    }

    function onCheckClick(index, checkBoxClicked){
      var check_in_field = document.getElementById(checkBoxClicked.target.value + '_check_in');
      var check_out_field = document.getElementById(checkBoxClicked.target.value + '_check_out');
      var date_sel_field = document.getElementById(checkBoxClicked.target.value + '_sel_date');
      var persons_field = document.getElementById(checkBoxClicked.target.value + '_occupancy');

      if(checkBoxClicked.target.checked){
        if (check_in_field){
          check_in_field.style['display'] = 'block';
        }
        if (check_out_field){
          check_out_field.style['display'] = 'block';
        }
        if (date_sel_field){
          date_sel_field.style['display'] = 'block';
        }
        if(persons_field){
          persons_field.style['display'] = 'block';
        }
      }else if(!checkBoxClicked.target.checked){
        if (check_in_field){
          check_in_field.style['display'] = 'none';
        }
        if (check_out_field){
          check_out_field.style['display'] = 'none';
        }
        if (date_sel_field){
          date_sel_field.style['display'] = 'none';
        }
        if (persons_field){
          persons_field.style['display'] = 'none';
        }
      }
    };
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
