<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :services %><br>
    <%= f.collection_radio_buttons :id, Booking::ServiceType.all, :id, :name, checked: params[:service_type_id] do |b| %>
      <div class="collection-radio-button" id="<%= Booking::ServiceType.find(b.value).id %>">
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="field" id="check_in_field" style="display:none;">
    <%= f.label :check_in %><br>
    <%= f.datetime_select :check_in %>
  </div>
  <div class="field" id="check_out_field" style="display:none;">
    <%= f.label :check_out %><br>
    <%= f.datetime_select :check_out %>
  </div>
  <div class="field" id="sel_date_field" style="display:none;">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field" id="occupancy_field">
    <%= f.label :persons %><br>
    <%= f.number_field :occupancy %>
  </div>


  <script type="text/javascript">
    var checkedButton;
    var radioButtons = [];

    <% @serviceTypes.each do |service| %>
      var radioButton = document.getElementById('<%= service.id %>');
      radioButtons.push(radioButton);
    <% end %>

    for(var index in radioButtons){
      (function(){
        radioButtons[index].addEventListener("change", onCheckClick.bind(radioButtons[index], index));
      })();
    }

    function onCheckClick(index, radioButtonClicked){
      var check_in_field = document.getElementById('check_in_field');
      var check_out_field = document.getElementById('check_out_field');
      var date_sel_field = document.getElementById('sel_date_field');
      var persons_field = document.getElementById('occupancy_field');

      <% @serviceTypes.each do |service| %>
        if(radioButtonClicked.target.value == <%= service.id %> && <%= service.multiple_day %>){
          if (check_in_field){
            check_in_field.style['display'] = 'block';
          }
          if (check_out_field){
            check_out_field.style['display'] = 'block';
          }
          if (date_sel_field){
            date_sel_field.style['display'] = 'none';
          }
        }else if(radioButtonClicked.target.value == <%= service.id %> && <%= !service.multiple_day %>){
          if (check_in_field){
            check_in_field.style['display'] = 'none';
          }
          if (check_out_field){
            check_out_field.style['display'] = 'none';
          }
          if (date_sel_field){
            date_sel_field.style['display'] = 'block';
          }
        }
      <% end %>
    };
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
