<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :customer_reservation do |f| %>
    <% if params[:customer_id] %>
      <%= f.hidden_field :customer_id, :value => @cust_id %>
    <% end %>
  <% end %>

  <%= f.fields_for :service_type_reservations do |f| %>
    <%= render 'service_type_reservation_fields', f: f %>
  <% end %>

  <%= link_to_add_fields 'Add service reservation', f, :service_type_reservations %>

  <!-- Find every element with the name attribute set to "new_record" and replace it with a timestamp. Now they won't have the same id -->
  <script type="text/javascript">

  $('[data-form-prepend]').click( function(e) { 
    var obj = $( $(this).attr('data-form-prepend') ); 
    obj.find('input, select, textarea').each( function() { 
      $(this).attr( 'name', function() { 
        return $(this).attr('name').replace( 'new_record', (new Date()).getTime() ); 
      }); 
    }); 
    obj.insertBefore( this ); 
    return false; 
  });

  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
