<!-- Service is chosen already -->
<div class="field">
  <strong>Service:</strong> <%= @selected_service.name %><br>
  <%= f.hidden_field :service_type_id, :value => @selected_service.id %>
</div>

<div class="field" id="check_in_field">
  <%= f.label :check_in %><br>
  <%= f.text_field :check_in, :placeholder => Date.today.strftime('%m-%d-%Y'), :class => 'datepicker', :id =>"dpd1" %>
</div>
<div class="field" id="check_out_field">
  <%= f.label :check_out %><br>
  <%= f.text_field :check_out, :placeholder => Date.today.strftime('%m-%d-%Y'), :class => 'datepicker', :id =>"dpd2" %>
</div>
<div class="field" id="occupancy_field">
  <% if @selected_service.adult_child_field %>
    <%= f.label :adult %><br>
    <%= f.number_field :adult %><br>
    <%= f.label :child %><br>
    <%= f.number_field :child %>
  <% else %>
    <%= f.label :persons %><br>
    <%= f.number_field :occupancy %>
  <% end %>
</div>

<% if f.object.persisted? %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Destroy" %>
<% end %>


