<!-- Confirmation page -->
<p id="notice"><%= notice %></p>

<% unless @reservation.service_type_reservations.any? %>
  <p>You don't have any items in your cart. <%= link_to "Go Add Some", service_types_path %>
<% end %>

<table width="100%">
  <tr>
    <th>Product</th>
    <th>Price</th>
  </tr>
  <% for line_item in @reservation.service_type_reservations %>
    <tr>
      <td><%= line_item.service_type.name %></td>
      <td><%= number_to_currency line_item.price %></td>
      <td><%= link_to "Remove", remove_from_reservation_path(line_item), :method => :post %></td>
    </tr>
  <% end %>
  <tr>
    <td>Total:</td>
    <td><%= number_to_currency @reservation.total_price %></td>
  </tr>
</table>

<hr />
<!-- # < % = form_tag checkout_path, do |f| %>
#   < % = link_to "Continue Shopping", root_path %>
#   or
#   < % = submit_tag "Checkout" %>
# < % end %> -->
