<!-- Confirmation page -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation id:</strong>
  <%= @reservation.id %>
</p>

<p>
  <strong>Service:</strong>
  <% @reservation.service_types.each do |service| %>
    <%= service.name %>
  <% end %>
</p>

<p>
  <strong>Total price:</strong>
  $<%= @reservation.total_price %>
</p>

<p>
  <strong>Occupancy:</strong>
  <%= @reservation.occupancy %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @reservation.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @reservation.check_out %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<%= link_to 'Edit Reservation', edit_reservation_path(@reservation) %> |
<%= link_to 'Add Customer info', new_customer_path(reservation_id: @reservation.id) %><br>
<% if @hasCustomer %>
  <%= @reservation.customer.first_name%>
  <%= @reservation.customer.last_name %>
  <%= link_to 'Edit Customer info', edit_customer_path(@reservation.customer) %>
<% end %>

