<p id="notice"><%= notice %></p>

<h1>Service Calendar</h1>

<div id='calendar'>
  <script type="text/javascript">
    $(document).ready(function() {
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
          header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                  },
          defaultView: 'month',
          // put your options and callbacks here
          events: './service_calendars.json',
          editable: true,
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
            alert(
              event.title + " was moved to " +
              event.start.format("dddd, MMMM Do YYYY, h:mm:ss a")
            );

            if(!confirm("Are you sure about this change?")){
              revertFunc();
            }
            $.ajax({
              type: "PATCH",
              dataType: "json",
              url: "/booking/reservations/" + event.id,
              data: 
                {
                  check_in: new Date(event.start),
                  check_out: new Date(event.end),
                  time: new Time(event.time)        
                }
            });

          }
      });
    });
  </script>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Service type id</th>
      <th>Availability</th>
      <th>Reservation</th>
      <th>Rate</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_calendars.each do |service_calendar| %>
      <tr>
        <td><%= service_calendar.service_type_ID %></td>
        <td><%= service_calendar.availability %></td>
        <td><%= service_calendar.reservation %></td>
        <td><%= service_calendar.rate %></td>
        <td><%= service_calendar.date %></td>
        <td><%= link_to 'Show', service_calendar %></td>
        <td><%= link_to 'Edit', edit_service_calendar_path(service_calendar) %></td>
        <td><%= link_to 'Destroy', service_calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

