<%= form_for [@category, @service_type] do |f| %>
  <% if @service_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_type.errors.count, "error") %> prohibited this service_type from being saved:</h2>
      <ul>
        <% @service_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :category do |f| %>
    <% if params[:category_id] %>
      <%= f.hidden_field :category_id, :value => params[:category_id] %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :service_description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :max_occupancy %><br>
    <%= f.number_field :max_occupancy %>
  </div>
  <div class="field">
    <%= f.label :default_price %><br>
    <%= f.number_field :default_price, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :available_from %><br>
    <%= f.date_field :available_from %>
  </div>
  <div class="field">
    <%= f.label :available_to %><br>
    <%= f.date_field :available_to %>
  </div>
  <div class="field">
    <%= f.label :price_for_given_dates %><br>
    <%= f.number_field :special_price, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.number_field :availability %>
  </div>

  <%= f.fields_for :blocked_day do |f| %>
    <div class="field">
      <%= f.label :unavailable_from_date %><br>
      <%= f.date_field :blocked_from_date %>
    </div>
    <div class="field">
      <%= f.label :unavailable_to_date %><br>
      <%= f.date_field :blocked_to_date %>
    </div>
    <div class="field">
      <%= f.label :monday %><br>
      <%= f.check_box :monday %><br>
      <%= f.label :tuesday %><br>
      <%= f.check_box :tuesday %><br>
      <%= f.label :wednesday %><br>
      <%= f.check_box :wednesday %><br>
      <%= f.label :thursday %><br>
      <%= f.check_box :thursday %><br>
      <%= f.label :friday %><br>
      <%= f.check_box :friday %><br>
      <%= f.label :saturday %><br>
      <%= f.check_box :saturday %><br>
      <%= f.label :sunday %><br>
      <%= f.check_box :sunday %><br>
    </div>
  <% end %>

  <!-- If category is not multiple day, display duration -->
  <% if !@category.multiple_day %>
    <div class="field" id="duration">
      <%= f.label :service_duration %><br>
      <%= f.number_field :duration %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
