<div class="field">
	<%= f.label :add_available_timeslots? %><br>
	<%= f.label :time %><br>
	<%= f.time_field :time %><br>
	<%= f.label :number_available %><br>
	<%= f.number_field :availability %><br>
	<%= f.label :extra_cost %><br>
	<%= f.number_field :extra_cost %><br>
	<% if f.object.persisted? %>
		<%= f.label :delete %><br>
		<%= f.check_box :_destroy %>
	<% end %>
</div>