<p id="notice"><%= notice %></p>

<h1>My Services 
<button class="add-service"><%= link_to 'Add', new_service_type_path %></button> 
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="service-col">Service</th>
      <th class="occupancy-col">Max occupancy/Peoples</th>
      <th class="price-col">Price</th>
      <th class="availability-col">Availability</th>
      <th class="available-period-col">Valid period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_types.each do |service_type| %>
      <tr>
        <td><%= service_type.name %><br><%= service_type.description %></td>
        <td><%= service_type.max_occupancy %></td> 
        <td><%= service_type.price %></td>
        <td><%= service_type.availability %></td>
        <td><%= service_type.available_from %> - <%= service_type.available_to %></td>
        <td><%= link_to 'Book', new_reservation_path(service_type_id: service_type.id) %></td>
        <td><%= link_to 'Show', service_type %></td>
        <td><%= link_to 'Edit', edit_service_type_path(service_type) %></td>
        <td><%= link_to 'Destroy', service_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

