<p id="notice"><%= notice %></p>
<p>
Today's date:
</p>
<p>
  <strong>Service:</strong>
  <%= @service_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_type.service_description %>
</p>

<p>
  <strong>Max occupancy/Peoples:</strong>
  <%= @service_type.max_occupancy %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service_type.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @service_type.availability %>
</p>

<%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<%= link_to 'Back', service_types_path %>
